<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }}</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/main.css') }}"
        />
    </head>
    <body>
        <div class="login-form-content">
            {% include 'navbar.html' %}
            <div class="login-form-wrapper">
                <h1 class="login-title">{{ title }}</h1>
                <form method="POST" action="{{ handler_url }}" id="auth-form">
                    {{ form.csrf_token }}
                    <div class="login-form-field">
                        {{ form.user_name.label }} {{ form.user_name }} {% if
                        form.user_name.errors %}
                        <ul class="login-errors">
                            {% for error in form.user_name.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="login-form-field">
                        {{ form.password.label }} {{ form.password }} {% if
                        form.password.errors %}
                        <ul class="login-errors">
                            {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="login-submit">
                        <button type="submit">{{ title }}</button>
                    </div>
                </form>

                {% if is_login %}
                <div class="signup-redirect">
                    <p>
                        Don't have an account?
                        <a href="{{ url_for('authentication_bp.register') }}"
                            >Sign up here</a
                        >.
                    </p>
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Flash messages -->
        <div class="flash-message-container">
            {% with messages = get_flashed_messages(with_categories=True) %} {%
            if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %} {% endwith %}
        </div>
    </body>
</html>
