<nav>
    <div class="sidebar">
        <div class="sidebar-items">
            <ul>
                <li>
                    <a href="{{ url_for('home_bp.home') }}">
                        <img
                            src="/static/icons/home-icon.png"
                            alt="Home Icon"
                        />
                        Home
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('catalogue_bp.catalogue') }}">
                        <img
                            src="/static/icons/podcast-icon.png"
                            alt="Podcast Icon"
                        />
                        Podcast
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('playlist_bp.playlist') }}">
                        <img
                            src="/static/icons/playlist-icon.png"
                            alt="Playlist Icon"
                        />
                        My Playlists
                    </a>
                </li>
            </ul>
            <ul>
                {% if not username %}
                <li class="login-regis-btn">
                    <a href="{{ url_for('authentication_bp.register') }}">
                        <span>Register</span>
                    </a>
                </li>
                <li class="login-regis-btn">
                    <a href="{{ url_for('authentication_bp.login') }}">
                        <span>Login</span>
                    </a>
                </li>
                {% else %}
                <li class="login-regis-btn">
                    <a href="{{ url_for('authentication_bp.logout') }}">
                        <span>Logout {{ username }}</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="nav-footer-list">
            <li>
                <a
                    href="https://www.linkedin.com/in/chris-chiem-uoa/"
                    target="_blank"
                    >cchi852</a
                >
            </li>
        </div>
    </div>
</nav>
